.wrapper{
    width: 100%;
    max-height: min((900px - 96px)-60px,734px);
    min-height: 98px;
    background-color: rgb(255,255,255);
    box-shadow: rgb(0 0 0/12%) 0px 2px 12px;
    border-radius: 6px;
    padding-top: 1px;
    z-index: 20;

} 
.menu-popper{
    border: 1px solid #e8e1e1;

}