.wrapper {
    padding-top: 6rem;
    width: 100%;
    min-height: 90vh;
    display: flex;
    justify-content: center;
}
.employer{
    padding-top: 1rem;
    width: 100%;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    .inner{
        width: 98%;
    }
}
.inner {
    background: white;
    padding-top: 6rem;
    padding-left: 10rem;
    width: var(--default-layout-width);
    display: flex;
    flex-direction: row;
}
.side-left {
    width: 100%;
}
.side-right {
    padding-top: 7%;
    width: 100%;
}
.text_welcome_login {
    height: 4rem;
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    line-height: 4rem;

    /* identical to box height */

    color: #00b4d8;
}

.label_email {
    margin-top: 4rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
}

.email,
.password {
    position: relative;
}
.error {
    color: red;
    margin-top: 0.4rem;
}
.email_login,
.password_login {
    box-sizing: border-box;
    width: 80%;
    height: 4.5rem;

    background: #ffffff;
    border: 1px solid #939598;
    border-radius: 10px;
    padding-left: 5.5rem;
    line-height: 4.5rem;
    font-style: normal;
    font-weight: 400;
}

.icon_password {
    position: absolute;
    left: 1.5rem;
    top: 20%;
    font-size: 2.5rem;
    color: #00b4d8;
}
.label_password {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
}
.submit_form_login {
    width: 80%;
    height: 4rem;
    margin-top: 3rem;
    border: none;
    background: #00b4d8;
    border-radius: 10px;
    text-align: center;

    line-height: 4rem;
    font-style: normal;
    font-weight: 600;
    font-size: 1.8rem;
    color: white;
}
