.wrapper {
    width: 100%;
    padding-top: 6.1rem;
}
.wrapper_employer {
    width: 100%;
    .content {
        padding-left: 3%;
    }
    .inner{
        width: 96%;
    }
    .item_recruit_candidate{
        width: 500px;
    }
}
.wrapper_inner {
    background: white;
    width: 100%;
    display: flex;
    justify-content: center;
}
.inner {
    width: var(--default-layout-width);
}
.navigation {
    color: rgb(69, 66, 66);
    margin-bottom: 1rem;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    display: flex;
    column-gap: 2rem;
}
.item_navi {
    font-weight: 500;
    height: 100%;
    padding-top: 1rem;
    line-height: 3rem;
    text-align: center;
    width: 12%;
    /* identical to box height */
    color: rgb(69, 66, 66);
    &:hover {
        color: currentColor;
        border-bottom: 3px solid rgba(143, 133, 133, 0.55);
    }
}
.active {
    color: black;
    border-bottom: 3px solid black;
    &:hover {
        color: black;
    }
}
.content {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 4%;
    margin-bottom: 4%;
}
.text_title {
    font-weight: 600;
    font-size: 1.8rem;
    color: black;
}
.card_company_home {
    margin-top: 2rem;
    flex-wrap: wrap;
    align-content: flex-start;
    column-gap: 0.1rem;
    row-gap: 1rem;
}

.item_recruit_candidate {
    box-sizing: border-box;
    position: relative;
    width: 396px;
    height: 22rem;
    border: 1px solid #bbbcc0;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
    background: white;
}

.logo_company {
    position: absolute;
    border: 1px solid #d7e4e8;
    border-radius: 10px;
    box-sizing: border-box;
    width: 20%;
    height: 40%;
    left: 5%;
    top: 10%;
}
.name_recruit {
    position: absolute;
    width: 68%;
    left: 28%;
    height: 30%;
    font-weight: 500;
    font-size: 1.6rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* identical to box height */
    top: 10%;

    color: #29333f;
}
.name_company {
    position: absolute;
    width: 68%;
    left: 28%;
    font-weight: 600;
    font-size: 1.6rem;

    /* identical to box height */
    top: 25%;
    color: #21c2e2;
}
.require {
    position: absolute;
    width: 68%;
    left: 35%;

    /* identical to box height */
    top: 40%;
}
.label {
    font-weight: 500;
    font-size: 1.4rem;
    /* identical to box height */
}
.value {
    font-weight: 500;
    color: #21c2e2;
}
.time_update {
    position: absolute;

    font-size: 1.2rem;
    /* identical to box height */
    top: 80%;
    right: 5%;
}
