.inner {
    padding-top: 2rem;
    background: white;
    width: 100%;
    border-radius: 5px;
    padding-bottom: 2rem;
}
.text_list_review {
    margin-right: 4%;
    margin-left: 4%;
    font-size: 1.8rem;
    font-weight: 500;
}
.list_review{
    margin-left: 4%;
    margin-right: 5%;
    margin-top: 10px;
}
.item_review{
    padding-top: 10px;
    border-top:  1px solid #bbbcc0;
}
.time_review{
    color:  #9fa0a7;
}
.good{
    margin-top: 10px;
    font-size: 1.8rem;
    font-weight: 500;
}
.rate{
    color: rgb(232, 72, 72);
}