.inner {
    margin-top: 1rem;
    padding-top: 2rem;
    padding-left: 2rem;

    background: white;
    width: 100%;
    border-radius: 5px;
    padding-bottom: 2rem;
}
.text_intro_company {
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
}
