.wrapper {
    padding-top: 6rem;
    width: 100%;
    display: flex;
    justify-content: center;
}
.inner {
    background: white;
    padding-top: 4rem;
    padding-left: 10rem;
    width: var(--default-layout-width);
   
}


.text_welcome_signup {
    width: 100%;
    height: 4rem;
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    line-height: 4rem;
    /* identical to box height */

    color: #00b4d8;
}

.text_login_by_account {
    margin-top: 1rem;
    font-style: normal;
    /* identical to box height */

    color: #939598;
}
.text_jore {
    color: #2E3192;
    font-weight: 500;
}
.title_login{
    margin-top: 3rem;
    margin-bottom: 1rem;
font-style: normal;
font-weight: 600;
font-size: 2rem;

color: #00B4D8;
}
.label_name{

    margin-bottom: 0.5rem;
    font-weight: 500;
}
.label_email {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
}
.forget_password{
    color: #00B4D8;
    font-weight: 600;
}
.email,.fullname,.hotline,
.password {
    position: relative;
}
.email_login,
.password_login,.name_company {
    box-sizing: border-box;
    width: 80%;
    height: 4rem;

    background: #ffffff;
    border: 1px solid #939598;
    border-radius: 10px;
    padding-left: 5.5rem;
    line-height: 4rem;
    font-style: normal;
    font-weight: 400;
}

.icon_email,
.icon_password,.icon_name{
    position: absolute;
    left: 1.5rem;
    top: 20%;
    font-size: 2.2rem;
    color: #00b4d8;
}
.label_password {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
}
.label_location{
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
}
.phone{
    box-sizing: border-box;
    width: 40%;
    height: 4rem;

    background: #ffffff;
    border: 1px solid #939598;
    border-radius: 10px;
    padding-left: 5.5rem;
    line-height: 4rem;
    font-style: normal;
    font-weight: 400;
}
.submit_form_login {
    width: 40%;
    height: 4rem;
    margin-top: 2rem;
    border: none;
    background: #00b4d8;
    border-radius: 10px;
    text-align: center;

    line-height: 4rem;
    font-style: normal;
    font-weight: 600;
    font-size: 1.8rem;
    color: white;
}
.location{
    display: flex;
    column-gap: 3%;
}
.value_location{
    margin-right: 0.6rem;
}

.no_account {
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.signup-now {
    color: #00b4d8;
    font-weight: 600;
    
}
