.wrapper {
    height: 100%;
    padding: 1.2rem 1.2rem;
}
.content {
    padding-left: 20%;
    padding-top: 7%;
    height: 100%;
    background-color: white;
}
.chart{
  font-size: 1.5rem;
}
.title_chart{
  margin-left: 17%;
  margin-top: 2rem;
  font-weight: 500;
}
