.wrapper {
    padding-top: 8rem;
    width: 100%;
    display: flex;
    justify-content: center;
    min-height: 90vh;
}
.employer {
    padding-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    .inner {
        width: 98%;
    }
    min-height: 82vh;

}
.inner {
    width: var(--default-layout-width);
}
.header_detail_job {
    background: white;

    padding-top: 2rem;
    padding-bottom: 2rem;

    padding-left: 4rem;
    width: 100%;
    display: flex;
    border-radius: 10px;
}
.header_left {
    width: 80%;
    display: flex;
}
.header_right {
    margin-top: 2rem;

    flex: 1;
}
.block_info {
    flex: 1;
    margin-left: 3rem;
    margin-top: 2rem;
}
.wrapper_logo {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
.btn_edit {
    background-color: #e4e6eb;
    border: none;
    padding: 4px;
    font-weight: 500;
    border-radius: 5px;
}
.icon_edit {
    margin-right: 4px;
}
.logo {
    width: 15rem;
    height: 15rem;
    border: 1px solid #d7e4e8;
    border-radius: 50%;
}

.name_company {
    font-style: normal;
    font-weight: 700;
    font-size: 2.2rem;
    margin-bottom: 0.5rem;

    /* identical to box height */
    color: #0077b6;
}
.item_header {
    display: flex;
    column-gap: 1rem;
    margin-bottom: 0.7rem;
}
.icon_item_header {
    color: #2995cf;
    margin-top: 3px;
    font-size: 1.6rem;
    width: 2rem;
}
.deadline_submit {
    color: #58595b;
    font-weight: 500;
}

.btn_apply {
    width: 55%;
    height: 30%;

    background: #0077b6;
    border-radius: 10px;
    border: none;

    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 1.6rem;
    /* identical to box height */
    color: #ffffff;
    cursor: pointer;
}
.navigation {
    background: white;
    margin-top: 2rem;
    margin-bottom: 1rem;
    height: 4.5rem;

    width: 100%;
    border-radius: 6px;
    display: flex;
    column-gap: 1rem;
}
.item_navi {
    font-weight: 500;
    font-size: 1.8rem;
    height: 4.5rem;
    line-height: 4.5rem;
    text-align: center;
    width: 15%;
    /* identical to box height */
    cursor: pointer;
    color: #58595b;
}
.active {
    color: #0077b6;
    border-bottom: 3px solid #0077b6;
}
.content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    margin-bottom: 3rem;
}
.side_left {
    width: 60%;
}
.side_right {
    width: 39%;
}

.modal {
    position: fixed;
    width: 35%;
    z-index: 1040;
    top: 20%;
    left: 30%;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.modal_update {
    position: fixed;
    width: 40%;
    z-index: 1040;
    top: 8%;
    left: 30%;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    overflow-y: scroll;
    height: 80%;
}
.wrapper_update_avatar {
    margin-top: 1rem;
    position: relative;
}
.avatar_update {
    width: 10rem;
    height: 10rem;

    border: 1px solid #d7e4e8;
    border-radius: 50%;
    margin-left: 50%;
    transform: translate(-50%);
}
.input_avatar {
    visibility: hidden;
}
.label_update_camera {
    position: absolute;
    top: 63%;
    left: 52%;
    width: 3rem;
    height: 3rem;
    border: 1px solid transparent;
    background-color: #e4e6eb;
    border-radius: 50%;
    padding: 4px 4px;
    cursor: pointer;
    &:hover {
        background-color: #c3c5c8;
    }
}
.icon_camera {
    font-size: 2rem;
}
.wrapper_name_CV {
    display: flex;
    margin-top: 1rem;
    margin-left: 7%;
}
.text_fullname_CV {
    width: 22%;
    font-style: normal;
    font-weight: 500;
    font-size: 1.7rem;
    display: inline;
    /* identical to box height */
}
.fullname_cv {
    width: 67%;
    height: 3.3rem;

    border: 0.5px solid black;
    background: #ffffff;
    border-radius: 4px;
    padding-left: 1rem;
    line-height: 3.5rem;
    font-style: normal;
    font-weight: 400;
    font-size: 1.7rem;
    /* identical to box height */

    color: #494848;
}
.backdrop {
    position: fixed;
    z-index: 1040;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    opacity: 0.5;
}
.modal-title {
    margin-left: 3rem;
    margin-top: 2rem;

    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    /* identical to box height */
}
.modal-body {
    width: 100%;
}
.modal_name_job {
    font-style: normal;
    font-weight: 500;
    color: #0077b6;
}
.label_report {
    margin-left: 7rem;
    margin-top: 1rem;
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
}
.label_start {
    margin-left: 7rem;
    margin-top: 1rem;
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
}
.value_report {
    margin-left: 7rem;

    width: 78%;
    height: 150px;
    border: 0.5px solid black;
    background: #ffffff;
    border-radius: 10px;
    font-style: normal;
    font-weight: 400;
    padding: 10px;
    font-size: 18px;
    overflow-wrap: break-word;
    /* identical to box height */
    color: #494848;
}
.line {
    margin-top: 1rem;
    height: 0;
    border: 0.2px solid #adadad;
}
.secondary-button {
    margin-top: 1rem;
    width: 6rem;
    height: 3.5rem;
    margin-bottom: 5rem;

    border-radius: 6px;
    color: white;
    border: none;
    font-weight: 500;
    background: #6d6e71;
    margin-right: 0.5rem;
}
.primary-button {
    margin-top: 1rem;
    width: 10rem;
    height: 3.5rem;
    margin-bottom: 5rem;

    background: #00b4d8;
    border-radius: 6px;
    color: white;
    border: none;
    font-weight: 500;
    margin-right: 5rem;
}
.btn-close {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1;
    color: white;
    padding-left: 6px;
    padding-right: 5px;
    padding-bottom: 2px;
    border-radius: 3px;
    border: none;
    background-color: #000;
    opacity: 0.7;
    cursor: pointer;
    margin-right: 0.6rem;
}
.rating_company {
    margin-left: 2rem;
    color: red;
    font-size: 2.5rem;
}
.introduce_update{
   
    width: 67%;
    height: 15rem;
    border: 0.5px solid black;
    background: #ffffff;
    border-radius: 10px;
    padding: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 1.7rem;
    overflow-wrap: break-word;
    /* identical to box height */
    resize: none;
    color: #494848;
  }
  .error {
    margin-left: 28%;

    color: red;
    word-wrap: break-word;
    margin-top: 0.4rem;
}